<div class="entry">
  {{#if users}}
  <table class="container table table-bordered table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>username</th>
        <th>email</th>
        <th class="text-center">Operación</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{@index}}</td>
        <td><strong>{{username}}</strong></td>
        <td>{{email}}</td>
        <td class="text-center">
          {{#if done}}
          <a class="btn btn-success" href="/users/{{_id}}/toggleDone">Done</a>
          {{else}}
          <a class="btn btn-dark" href="/users/{{_id}}/toggleDone">
            Undone
          </a>
          {{/if}}
          <a href="/users/{{_id}}/delete" class="btn btn-danger">
            Delete
          </a>
          <a href="/users/{{_id}}/edit" class="btn btn-info">
            Edit
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>No users</h1>
      <img src="/icons/empty.svg" class="w-75" />
    </div>

  </div>
  {{/if}}
</div>